{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Create Appointment</h1>
    <form method="post">
        {% csrf_token %}

        <!-- Patient Field -->
        {% if patient_fixed %}
            <div class="input-field">
                <input type="text" value="{{ patient_fixed.user.last_name }}{{ patient_fixed.user.first_name }} ({{ patient_fixed.patient_id }})" disabled>
                <input type="hidden" name="patient_id" value="{{ patient_fixed.patient_id }}">
                <label>Patient:</label>
            </div>
        {% else %}
            <div class="input-field">
                <select name="patient_id" id="patient_id">
                    <option value="" disabled selected>Choose a patient</option>
                    {% for patient in patients %}
                        <option value="{{ patient.patient_id }}">{{ patient.user.last_name }}{{ patient.user.first_name }} ({{ patient.patient_id }})</option>
                    {% endfor %}
                </select>
                <label for="patient_id">Patient:</label>
            </div>
        {% endif %}

        <!-- Doctor Field -->
        {% if doctor_fixed %}
            <div class="input-field">
                <input type="text" value="{{ doctor_fixed.user.last_name }}{{ doctor_fixed.user.first_name }} ({{ doctor_fixed.doctor_id }})" disabled>
                <input type="hidden" name="doctor_id" value="{{ doctor_fixed.doctor_id }}">
                <label>Doctor:</label>
            </div>
        {% else %}
            <div class="input-field">
                <select name="doctor_id" id="doctor_id">
                    <option value="" disabled selected>Choose a doctor</option>
                    {% for doctor in doctors %}
                        <option value="{{ doctor.doctor_id }}">{{ doctor.user.last_name }}{{ doctor.user.first_name }} ({{ doctor.doctor_id }})</option>
                    {% endfor %}
                </select>
                <label for="doctor_id">Doctor:</label>
            </div>
        {% endif %}

        <!-- Date Input Field -->
        <label for="date">Date:</label>
        <div class="input-field">
            <input type="datetime-local" id="date" name="date" required>
        </div>

        <!-- Description Textarea -->
        <div class="input-field">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="materialize-textarea"></textarea>
        </div>

        <!-- Submit Button -->
        <div class="center-align">
            <button type="submit" class="btn waves-effect waves-light">Create Appointment</button>
        </div>
    </form>
{% endblock %}
