{% extends 'base.html' %}
{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
        {% if not user.is_authenticated %}
            <p>還沒有帳戶 <a href="{% url 'register' %}">點這裡註冊</a></p>
        {% endif %}
    </form>

{% endblock %}